%h1= @date.strftime("%Y-%m-%d")
- @users.each do |user|
  .note
    .note-name
      %h2= user.name
      - note = user.notes.with_date(@date).first
      = link_to fa_icon('edit', text: '編集'), note ? edit_user_note_path(user, note) : new_user_note_path(user)
    .note-author
      - if note
        = simple_format note.content
