%h1= @date.strftime("%Y-%m-%d")
- @notes.each do |note|
  .note
    .note-name
      %h2= note.user.email
      = link_to fa_icon('edit', text: '編集'), edit_note_path(note)
    .note-author
      = simple_format note.content
